
/********************************* 

  fonts
**********************************/

@font-face {
  font-family: "HKGrotesque-bold";
  src: url('../fonts/HKGrotesk-Bold.otf') format('openType');
}

@font-face {
  font-family: "HKGrotesque-regular";
  src: url('../fonts/HKGrotesk-Regular.otf') format('openType');
}


/********************************* 

  variables & mixins
**********************************/ 

$dd-black: #2f302c;
$dd-gray: rgba(47,48,44,0.7);
$dd-blue: #baddd3;
$dd-red: #fc5959;
$dd-peach: #fcd6d0;
$header-height: 60px;
$chat-background-color: #e8dada;
$dd-bg-gradient: linear-gradient(80deg, $dd-peach, $dd-blue);
$card-border-radius: 10px;
$dashboard-margin-bottom: 10px;
$box-dropshadow: 0px 1px 1px rgba(47, 48, 44, 0.2);


@mixin header-elements {
    height: $header-height;
    padding-top: 10px;
}

@mixin center-element {
  text-align: center;
  margin: 0 auto;
  display: block;
}

@mixin button-element {
  border: 2px solid black;
  border-radius: 20px;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  top: 8px;
}

@mixin button-element-solid {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: $dd-black;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: none;
}

/********************************* 

  layouts
**********************************/ 


body, html, #app{
  height:100%;
  /*background-color: $dd-peach;*/
  background: $dd-bg-gradient;
}


a {
  color: $dd-black;
  text-decoration: none;
}

p {
  /*font-family:"Cutive Mono", serif;*/
  font: 20px "HKGrotesque-regular", sans-serif;
  font-size: 20px;
}

h1, h2 {
  /*font-family:"Cutive Mono", serif;*/
  font: 20px "HKGrotesque-bold", sans-serif;
}

h2 {
  margin-top: 8px;
}

/*h1 {
  font-size: 30px;
}*/

button {
  h2 {
    margin-bottom: 3px;
    margin-top: 3px;
  }
}

/*#app {
  background-color: $dd-peach;
}*/

.app-loading {
  /*background-color: $dd-peach;*/
  .loader {
    margin-top: 200px;
  }
}


input {
  /*color: #fff;*/
  border: none;
  padding: 8px;
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 15px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
}

.center {
  @include center-element;
}

.right {
  float: right;
  /*padding-top: 10px;*/
  /*margin-left: 20px;
  margin-top: -10px;*/
}

.right-padding {
  margin-right: 20px;
}

/*.title {
  display: inline-block;
  padding-top: 20px;
  img {
    /*padding-top: 50px;*/
    /*margin-top: 20px;
  }
}*/


.main {
  margin-top: 30px;
  /*.loader {
    margin-top: 200px;
  }*/
}

.home {
  color: #fff;
  margin-top: 150px;

  h2 {
    font-size: 30px;
  }
  button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: $dd-black;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    h2 {
      color: #fff;
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 30px;
    line-height: 22px;
  }

  .text-bottom {
    font-size: 16px;
    margin-bottom: 80px;
  }

  img {
    display: block;
    margin-bottom: 10px;
  }

  .home-phone-imgs {
    img {
      margin-bottom: 80px;
    }
  }

  .home-footer-text {
    font-size: 14px;
    img {
      display:inline-block;
    }
  }
}


header {
  position:fixed; 
  margin: 0 auto;
  left: 0px;
  height:$header-height;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: transparent;
  z-index: 100;
  /*border-bottom: 1px solid #ccc;*/
}

.header-login {
  display: inline-block;
  a {
    color: #fff;
  }
}

.layout-static {
  &.page- {
     background: linear-gradient(60deg, #fc5959, #e5a89a 60%, #89EFE5);
     min-height: 100%;
  }
  &.page-login2 {
     background-color: $dd-peach;
     min-height: 100%;
  }
  &.page-register {
    background-color: $dd-blue;
    min-height: 100%;
  }

}

.static-logo-key {
  img {
    @include center-element;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

/********************************* 

  login/register
**********************************/
.login {
  margin-top: 160px;
}

.login-user-area {
  /*background-color: #fff;*/
  /*color: #fff;*/
  padding: 10px 30px 30px 30px;

 /* h2, p{
    color: #fff;
  }*/
  input {
    width: 100%;
  }
}

.login-button {
  border: 2px solid;
  border-radius: 80px;
  width: 80%;
  margin: 0 auto;
  color: $dd-black;
  margin-bottom: 50px;
  input {
    margin-bottom: 0px;
    border: none;
  }
}

.login-fail {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px 5px 10px;

  p {
    margin: 8px 5px;
    font-size: 16px;
    color: $dd-red;
  }
}

.register-phone-msg {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px 5px 10px;

  p {
    margin: 8px 5px;
    font-size: 16px;
    color: $dd-black;
  }
  
}

.home-logo {
  margin-top: 100px;
  margin-bottom: 30px;
}


/********************************* 

  diary layout 
**********************************/

.layout-diary {
  /*height: 100%;*/
  header {
    position:fixed; 
    /*margin: 0 auto;*/
    left: 0px;
    right: 0px;
    height:$header-height;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    /*opacity: 0.9;*/
    /*border-bottom: 1px solid $dd-black;*/
    /*text-align: center;*/
    p {
      padding-top: 5px;
    }

    .header-row {
      border-bottom: 1px solid rgba(47, 48, 44, 0.1);
    }

    .mood-back {
      padding-top: 6px;
      /*margin-right: -50px;*/
      button {
        outline: none;
        border: none;
        background-color: transparent;
      }
    }

    .mood-next {
      padding-top: 6px;
      margin-left: -20px;
      button {
        outline: none;
        border: none;
        background-color: transparent;
      }
    }
  }

  /*.content-container {
    background-color: red;
  }*/
  
  .title {
    display: inline-block;
    padding-top: 5px;
    float: left;
  }
  
  .logo-d {
    @include header-elements;
    @include center-element;
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .title-data {
    @include header-elements;
    background-color: #fff;
    img{
      @include center-element;
      padding-top: 15px;
    }
  }
  
  .title-date {
    p {
      color: $dd-black;
    }
  }

  .right {
    @include header-elements;
    background-color: #fff;
    a {
      @include center-element;
      padding-top: 8px;
    }
  }

  .header-login {
    a {
      color: $dd-black;
    }
  }


}

/*
  Chat UI
*/

/* comment list */

.commentList {
  margin-bottom: 200px;
  margin-top: 80px;
  transition: opacity .1s ease-out; opacity: 1;
  /*background-color: #fff;*/
}

.comment {
  padding: 15px 15px 15px 15px;
  margin-top: 15px;
  background-color: #fff;
}

.comment-user {
  /*padding: 15px 15px 15px 15px;*/
  margin-top: 15px;
  background-color: #fff;
  margin-left: 30px;
  margin-right: 10px;
  border-radius: 10px 10px 2px 10px;
  float:right;
  /*display: block;*/
  min-width: 50px;
}

.comment-user p{
  background-color: #fff;
  font-size: 17px;
  color: $dd-black;
  margin-bottom: 0px;
}

.comment-bot {
  margin-top: 15px;
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 30px;
  border-radius: 10px 10px 10px 2px;
  background-color: rgba(255,255,255,0.50);
  font-size: 17px;
  /*display: block;*/
  float: left;
  
  button {
    @include button-element-solid;
  }

  p {
    font-size: 17px;
  }
}

.timestamp {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* comment form area */

/*textarea[type="text"] {
    height: 80px;
    font-size: 16px;
    width: 90%;
    display: inline;
    box-shadow: none;
    resize: none;
    outline: none;
}*/

textarea {
    height: 80px;
    font-size: 18px;
    width: 90%;
    box-shadow: none !important;
    resize: none;
    outline: none;
    display: block;

    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
}

.form-control {
  font-size: 16px;
  border: none;
  border-radius: 0px;
}

.commentForm {
  position: relative;
  /*padding-right: 50px;*/
  padding-left: 0px;

  #input-post {
    @include button-element;
    /*border: 2px solid black;
    border-radius: 20px;*/
    padding: 4px 8px;
    /*font-size: 18px;*/
    /*top: 8px;*/
  }

  .input-text {
    padding-right: 0px;
  }

  .input-button {
    padding-left: 0px;
  }

  .button-emoji {
    border: none;
    padding: 0px;
  }

  .row-mood {
    padding-top: 10px;
  }

  button {
    @include button-element;
    text-align: center;
    margin: 10px auto 0px auto;
    display: block;
    padding: 4px 50px;
  }

  textarea {
    margin-bottom: 5px;
  }
}


.commentFormArea {
  position:fixed; 
  left:0px;
  bottom:0px;
  height:100px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid $dd-black;
}

.commentForm-selections {
  position: relative;
  padding-top: 20px;
  /*padding-right: 50px;*/
}


/* spinner */


@-webkit-keyframes load_glitter {
  0% {-webkit-transform: scale(1);}
  50% {-webkit-transform: scale(2);}
  100% {-webkit-transform: scale(1);}
}
@keyframes load_glitter {
  0% {transform: scale(1);}
  50% {transform: scale(2);}
  100% {transform: scale(1);}
}



.loader {
  /*margin-top: -20px;*/
  text-align: center;

  .star {
    display: inline-block;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: load_glitter 1s infinite;
    animation: load_glitter 1s infinite;
    padding-right: 5px;

    &:nth-child(2) {
      -webkit-animation-delay: .33s;
      animation-delay: .33s;
    }

    &:nth-child(3) {
      -webkit-animation-delay: .67s;
      animation-delay: .67s;
    }
  }
} 



/* animate */

.example-enter {
  opacity: 0.01;

  &.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

}

.example-leave {
  opacity: 1;

  &.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}



/* 
  data dashboard 
*/

.userData {
  margin-top: 80px;
  height: 100%;
}

.userData-mounted {
  /*background-color: $chat-background-color;*/
  height: 100%;
}

.userData-week {
  text-align: center;
  /*border-bottom: 1px solid #D8DBE0;*/
  h2 {
    font-size: 18px;
  }
}


#myChart {
  width: 100%;
  height: 250px;
  text-align: center;
  /*display: block;*/
  margin: 0px auto;
  z-index: 1;
}

.moodgraph {
  box-shadow: 0px 1px 1px rgba(47, 48, 44, 0.2);
  background-color: #fff;
  height: 300px;
  padding-top: 25px;
  margin-bottom: $dashboard-margin-bottom;
  border-radius: $card-border-radius;
}

.moodgraph-key {
  z-index: 10; 
  padding-left: 0px;
  padding-right: 0px;
  margin-right: -20px;
  margin-left: 20px;

  img {
    &:first-child {
      display: block;
    }
    &:nth-child(2) {
      margin-top: 200px;
    }

  }
}


.daysList {
  /*@include box-dropshadow;*/
  /*box-shadow: $box-dropshadow;*/
  /*margin-top: 25px;*/
  /*border-radius: $card-border-radius;*/
  margin-bottom: $dashboard-margin-bottom;
}

.day {
  width: 100%;
  min-height: 100px;
  margin-bottom: 1px;
  background-color: #fff;

  h1 {
    padding-top: 0px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .day-time {
    padding: 10px;
    padding-left: 25px;
    padding-top: 20px;
  }

  .day-date {
    display: block;
    font-size: 30px;
    padding-bottom: 0px;
  }

  .day-day {
    display: block;
    font-size: 14px;
    margin-top: 0px;
  }

  .day-comments {
    margin-top:30px;
    margin-bottom: 20px;
    p {
      font-size: 16px;
      color: $dd-gray;
    }
  }

  .day-mood {
    /*padding: 10px;
    padding-right: 25px;
    padding-top: 20px;*/
    /*width: 20px;
    height: 20px;*/
    padding-left: 0px;
    padding-right: 40px;
    padding-top: 30px;
  }
}


.wordcount {
  /*@include box-dropshadow;*/
  box-shadow: $box-dropshadow;
  background-color: #fff;
  max-height: 300px;
  /*padding-top: 25px;*/
  margin-top: 5px;
  margin-bottom: $dashboard-margin-bottom;
  padding-bottom: 20px;
  border-radius: $card-border-radius;
}

.myWordChart-noWords p {
  color: $dd-gray;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#myWordChart {
  width: 95%;
  max-height: 250px;
  text-align: center;
  display: block;
  margin: 0px auto;
  padding-top: 25px;
}


/********************************* 

  transitions
**********************************/
.screen-enter {
  opacity: 0.01;
  -webkit-transition: opacity .1s ease-in;
  -moz-transition: opacity .1s ease-in;
  -ms-transition: opacity .1s ease-in;
  transition: opacity .1s ease-in;

  &.screen-enter-hidden {
    display: none !important;
  }
  &.screen-enter-active {
    opacity: 1;
  }
}
.screen-leave {
  opacity: 1;
  -webkit-transition: opacity .1s ease-in;
  -moz-transition: opacity .1s ease-in;
  -ms-transition: opacity .1s ease-in;
  transition: opacity .1s ease-in;

  &.screen-leave-active {
    opacity: 0.01;
  }
}