/*body {
  background-color: #FD7861;
}*/
body, html, #app, .layout-static {
  height:100%;
}

.layout-static {
  /*background-color: #FD7861;*/
  background: linear-gradient(60deg, #D4145A, #FD7861, #89EFE5);
}

.container {
  max-width: 750px;
  /*background-color: #FD7861;*/
}

a {
  color: #000;
}

p {
  font-size: 20px;
}

.app-loading .loader {
  margin-top: 200px;
}


input {
  border: none;
  padding: 8px;
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: none;
  outline: none;
}

.right {
  float: right;
  /*padding-top: 30px;*/
  margin-left: 20px;
  margin-top: -10px;
}

.right-padding {
  margin-right: 20px;
}

.title {
  display: inline-block;
  padding-top: 20px;
}

.title img {
  /*padding-top: 50px;*/
  /*margin-top: 20px;*/
}

.main {
  margin-top: 180px;
}

.home {
  color: #fff;
}

.home button {
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  background-color: #f3f3f3;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 80px;
}


header {
  position:fixed; 
  margin: 0 auto;
  left: 0px;
  height:80px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: transparent;
  /*border-bottom: 1px solid #ccc;*/
}

.header-login a {
  color: #fff;
}


/* diary layout */

.layout-diary header {
  position:fixed; 
  margin: 0 auto;
  left: 0px;
  height:60px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  opacity: 0.9;
  border-bottom: 1px solid #D8DBE0;
  text-align: center;
}

.layout-diary .title {
  display: inline-block;
  padding-top: 5px;
  float: left;
}

.layout-diary .logo-d {
  display: inline-block;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
}

.layout-diary .title-data img{
  display: inline-block;
  padding-top: 5px;
  float: left;
}

.layout-diary .title-date p {
  color: #000;
}

.layout-diary .right {
  float: right;
  margin-left: 20px;
}

.layout-diary .header-login a {
  color: #000;
}

/* comment list */

.commentList {
  margin-bottom: 200px;
  margin-top: 60px;
  background-color: #fff;
}

.comment {
  padding: 5px 15px 15px 15px;
  margin-top: 15px;
  /*border-radius: 2px;*/
}

.comment-user {
  background-color: #fff;
  font-size: 16px;
}

.comment-bot {
  margin-top: 15px;
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #89EFE5;
  font-size: 14px;
  color: #fff;
}

.timestamp {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* comment form area */

/*textarea[type="text"] {
    height: 80px;
    font-size: 16px;
    width: 90%;
    display: inline;
    box-shadow: none;
    resize: none;
    outline: none;
}*/

textarea {
    height: 80px;
    font-size: 18px;
    width: 90%;
    box-shadow: none !important;
    resize: none;
    outline: none;
    display: block;
}

textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.form-control {
  font-size: 16px;
  border: none;
  border-radius: 0px;
}

.commentForm {
  position: relative;
  padding-right: 50px;
}

.commentForm input {
  border: 2px solid black;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: transparent;
  outline: none;
  position: absolute;
  right: 0px;
  top: 8px;
}

.commentFormArea {
  position:fixed; 
  left:0px;
  bottom:0px;
  height:100px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #D8DBE0;
}

.commentForm textarea {
  margin-bottom: 5px;
}

/* sign in page */
.old-user-area {
 /* background-color: #fff;*/
  margin-bottom: 60px;
  padding: 10px 30px 30px 30px;
}

.old-user-area h2, p{
  color: #fff;
}


.new-user-area {
  /*background-color: #fff;*/
  /*color: #fff;*/
  padding: 10px 30px 30px 30px;
}

.new-user-area h2, p{
  color: #fff;
}

/* spinner */

@-webkit-keyframes load_glitter {
  0% {-webkit-transform: scale(1);}
  50% {-webkit-transform: scale(2);}
  100% {-webkit-transform: scale(1);}
}
@keyframes load_glitter {
  0% {transform: scale(1);}
  50% {transform: scale(2);}
  100% {transform: scale(1);}
}

.loader {
  /*margin-top: -20px;*/
  text-align: center;
} 

.loader .star {
  display: inline-block;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: load_glitter 1s infinite;
  animation: load_glitter 1s infinite;
  padding-right: 5px;
}
.loader .star:nth-child(2) {
  -webkit-animation-delay: .33s;
  animation-delay: .33s;
}
.loader .star:nth-child(3) {
  -webkit-animation-delay: .67s;
  animation-delay: .67s;
}


/* animate */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}



/*.spinner > div {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.7s infinite ease-in-out both;
  margin-right: 5px;
}

.spinner .spinner__item1 {
  animation-delay: -0.60s;
}

.spinner .spinner__item2 {
  animation-delay: -0.40s;
}

.spinner .spinner__item3 {
  animation-delay: -0.20s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
    opacity: 0;
  } 40% { 
    transform: scale(1.0);
    opacity: 1;
  }
}*/


