body, html, #app, .layout-static {
	height: 100%;}

.layout-static {
	background: linear-gradient(60deg, #d4145a, #fd7861, #89efe5);}

a {
	color: #2f302c;}

p {
	font-size: 20px;}

.app-loading .loader {
	margin-top: 200px;}

input {
	border: none;
	padding: 8px;
	font-size: 18px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: none;
	outline: none;}

.right {
	float: right;
	padding-top: 10px;}

.right-padding {
	margin-right: 20px;}

.title {
	display: inline-block;
	padding-top: 20px;}

.main {
	margin-top: 180px;}

.home {
	color: #fff;}

.home button {
	padding: 10px 30px;
	border: none;
	border-radius: 3px;
	background-color: #2f302c;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
	display: block;
	margin-top: 80px;}

header {
	position: fixed;
	margin: 0 auto;
	left: 0;
	height: 60px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: transparent;
	z-index: 100;}

.header-login a {
	color: #fff;}

.layout-diary header {
	position: fixed;
	left: 0;
	right: 0;
	height: 60px;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;}

.layout-diary .title {
	display: inline-block;
	padding-top: 5px;
	float: left;}

.layout-diary .logo-d {
	height: 60px;
	padding-top: 10px;
	text-align: center;
	margin: 0 auto;
	display: block;
	background-color: rgba(255,255,255,0.60);}

.layout-diary .title-data {
	height: 60px;
	padding-top: 10px;
	background-color: #fff;}

.layout-diary .title-data img {
	text-align: center;
	margin: 0 auto;
	display: block;
	padding-top: 15px;}

.layout-diary .title-date p {
	color: #2f302c;}

.layout-diary .right {
	height: 60px;
	padding-top: 10px;
	background-color: #fff;}

.layout-diary .right a {
	text-align: center;
	margin: 0 auto;
	display: block;
	padding-top: 8px;}

.layout-diary .header-login a {
	color: #2f302c;}

.commentList {
	margin-bottom: 200px;
	margin-top: 80px;}

.comment {
	padding: 15px 15px 15px 15px;
	margin-top: 15px;
	background-color: #fff;}

.comment-user {
	margin-top: 15px;
	background-color: #fff;
	margin-left: 30px;
	margin-right: 10px;
	border-radius: 10px 10px 0 10px;
	float: right;
	min-width: 50px;}

.comment-user p {
	background-color: #fff;
	font-size: 16px;
	color: #2f302c;}

.comment-bot {
	margin-top: 15px;
	padding-top: 15px;
	margin-left: 10px;
	margin-right: 30px;
	border-radius: 10px 10px 10px 0;
	background-color: rgba(255,255,255,0.50);
	font-size: 14px;
	float: left;}

.timestamp {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;}

textarea {
	height: 80px;
	font-size: 18px;
	width: 90%;
	box-shadow: none !important;
	resize: none;
	outline: none;
	display: block;}

textarea:focus {
	box-shadow: none !important;
	outline: none !important;}

.form-control {
	font-size: 16px;
	border: none;
	border-radius: 0;}

.commentForm {
	position: relative;
	padding-right: 50px;}

.commentForm #input-post {
	border: 2px solid #000;
	border-radius: 20px;
	padding: 4px 8px;
	font-size: 18px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: transparent;
	outline: none;
	position: absolute;
	right: 0;
	top: 8px;}

.commentForm textarea {
	margin-bottom: 5px;}

.commentFormArea {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #2f302c;}

.commentForm-selections {
	position: relative;
	padding-top: 20px;}

.old-user-area {
	margin-bottom: 60px;
	padding: 10px 30px 30px 30px;}

.old-user-area h2, .old-user-area p {
	color: #fff;}

.new-user-area {
	padding: 10px 30px 30px 30px;}

.new-user-area h2, .new-user-area p {
	color: #fff;}

.loader {
	text-align: center;}

.loader .star {
	display: inline-block;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-animation: load_glitter 1s infinite;
	animation: load_glitter 1s infinite;
	padding-right: 5px;}

.loader .star:nth-child(2) {
	-webkit-animation-delay: .33s;
	animation-delay: .33s;}

.loader .star:nth-child(3) {
	-webkit-animation-delay: .67s;
	animation-delay: .67s;}

.example-enter {
	opacity: .01;}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500 ms ease-in;}

.example-leave {
	opacity: 1;}

.example-leave.example-leave-active {
	opacity: .01;
	transition: opacity 300 ms ease-in;}

.userData {
	margin-top: 80px;
	margin-left: -8px;
	margin-right: -8px;}

.userData-mounted {
	background-color: #e8dada;}

.userData-week {
	text-align: center;}

.userData-week h2 {
	font-size: 18px;}

#myChart {
	width: 100%;
	height: 250px;
	text-align: center;
	margin: 0 auto;
	z-index: 1;}

.moodgraph {
	background-color: #fff;
	height: 300px;
	padding-top: 25px;}

.moodgraph-key {
	z-index: 10;
	padding-left: 0;
	padding-right: 0;
	margin-right: -20px;
	margin-left: 20px;}

.moodgraph-key img:first-child {
	display: block;}

.moodgraph-key img:nth-child(2) {
	margin-top: 200px;}

.daysList {
	margin-top: 25px;}

.day {
	width: 100%;
	min-height: 100px;
	margin-bottom: 5px;
	background-color: #fff;}

.day h1 {
	padding-top: 0;
	padding-bottom: 5px;
	margin-top: 0;
	margin-bottom: 0;}

.day-time {
	padding: 10px;
	padding-left: 25px;
	padding-top: 20px;}

.day-date {
	display: block;
	font-size: 28px;}

.day-day {
	display: block;
	font-size: 18px;}

.day-comments {
	margin-top: 30px;
	margin-bottom: 20px;}

.day-dots {
	display: inline-block;
	margin-right: 8px;
	background-color: #fff;
	border: 3px solid #000;
	border-radius: 50%;
	width: 20px;
	height: 20px;}

.wordcount {
	background-color: #fff;
	max-height: 300px;
	margin-top: 25px;
	margin-bottom: 10px;
	padding-bottom: 20px;}

.myWordChart-noWords p {
	color: #000;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;}

#myWordChart {
	width: 95%;
	max-height: 250px;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-top: 25px;}

