body {
  background-color: #FD7861;
}

.container {
  max-width: 620px;
  /*background-color: #FD7861;*/
}

a {
  color: #000;
}

p {
  font-size: 18px;
}

input {
  border: none;
  padding: 10px;
  font-size: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.right {
  float: right;
  padding-top: 30px;
  margin-left: 20px;
}

.right-padding {
  margin-right: 20px;
}

.title {
  display: inline-block;
  padding-top: 20px;
}

.main {
  margin-top: 180px;
}

.home {
  color: #fff;
}

.home button {
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  background-color: #f3f3f3;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 80px;
}


header {
  position:fixed; 
  margin: 0 auto;
  left: 0px;
  height:80px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #FD7861;
  /*border-bottom: 1px solid #ccc;*/
}

.header-login a {
  color: #fff;
}

.commentList {
  margin-bottom: 200px;
  margin-top: 60px;
  background-color: #fff;
}

.comment {
  padding: 5px 15px 15px 15px;
  margin-top: 15px;
  /*border-radius: 2px;*/
}

.comment-user {
  background-color: #fff;
}

.comment-bot {
  margin-top: 15px;
  background-color: #DBD8D2;
}


textarea[type="text"] {
    height: 100px;
}

.commentFormArea {
  position:fixed; 
  left:0px;
  bottom:0px;
  height:150px;
  width: 100%;
  background-color: #FD7861;
}

.commentForm textarea {
  margin-bottom: 5px;
}

/* sign in page */
.old-user-area {
 /* background-color: #fff;*/
  margin-bottom: 60px;
  padding: 10px 30px 30px 30px;
}

.old-user-area h2, p{
  color: #fff;
}


.new-user-area {
  /*background-color: #fff;*/
  /*color: #fff;*/
  padding: 10px 30px 30px 30px;
}

.new-user-area h2, p{
  color: #fff;
}


